<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>주인</th>
      <th>CP</th>
      <th>상세보기</th>
      <th>정보 변경</th>
      <th>포켓몬 제거</th>
    </tr>
  </thead>
  <tbody>
    <% pokemons.each do |p| %>
      <tr>
        <td><%= p.name %></td>
        <td><%= p.user.name %></td>
        <td><%= p.cp %></td>
        <td><%= link_to "보기", pokemon_path(p.id) %></td>
        <td><%= link_to "변경", edit_pokemon_path(p.id, user_id: current_user) %></td>
        <td><%= link_to "삭제", pokemon_path(p.id), method: "DELETE" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
